/** Custom Color palette  */
:root {
  --bg-gradient-primary: #d2e2fb;
  --bg-gradient-secondary: #86a8db;
  --header-text-color: #fff;
  --bg-section: #3b3291;
  --bg-btn-header: #193452;
  --bg-btn-header-2: #7d56ff;
}
/** /Custom Color palette  */
/*! DEBUG CLASS */
.debug {
  border: 1px solid black;
}

/*? Utility */
.top-index {
  z-index: 996;
}

/*% Header */
header {
  height: 60px;
  padding: 0 5%;
  /* line-height: 60px; */
  width: 100dvw;
  color: var(--header-text-color);
  position: fixed;
  z-index: 999;
}

header h2 {
  line-height: 60px;
  font-size: 2.5rem;
}

header .site-section {
  line-height: 60px;
}

/* TODO: Creare hamburger per smartphone */
header ul li {
  /* ? Reset style */
  list-style: none;
  font-weight: 600;
}
header ul li a {
  /* ? Reset style */
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  padding: 4px 12px;
}
header ul li:hover a {
  /** Hover */
  background-color: var(--bg-btn-header-2);
  border-radius: 100px;
}

/*% /Header */
body {
  font-family: "Montserrat", sans-serif;
}

/*% Jumbotron */
.home {
  height: 100dvh;
  background: linear-gradient(to top, #d2e2fb 30%, #86a8db);
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

.home img {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.home .leaf1,
.home .leaf2 {
  z-index: 10;
}

.home .bush1 {
  z-index: 9;
}
/** Title */
.home h1 {
  /** Posizionamento */
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*? Style  */
  font-size: 80px;
  font-weight: 800;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
  /*? Style  */
}

/*% /Jumbotron */

/*% Bento */
.bento {
  background-color: var(--bg-section);
  padding-top: 100px;

  /** Posizionamento per andare sopra l'animazione */
  position: relative;
}

.bento .card:hover {
  cursor: pointer;
}

.text-bg {
  background-color: var(--bg-gradient-secondary) !important;
}
/* TODO: creare effeto hover */
/*% /Bento */

/*TODO: Rendere responsive */
